name: CI-CD Surge ITLA

on:
  push:
    branches:
      - main  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v3

      - name: Instalar Surge.sh
        run: npm install -g surge

      - name: Desplegar a Surge
        # Este dominio es unico para ti para evitar errores de permisos
        run: surge ./ parcial-devops-cjasser.surge.sh --token ${{ secrets.SURGE_TOKEN }}